@model IEnumerable<AuraInventarioProto.Models.DETMAN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SERIAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MODELO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MARCA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIPO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ESTADO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OBS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_ADQ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EST_TW)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EST_CC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EST_AV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EST_PD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EST_OF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EST_WN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EST_REG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SGI_SW)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SGI_RES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.F_UL_MAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEVU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ASIGN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OBRA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SERIAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MODELO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MARCA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIPO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ESTADO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OBS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_ADQ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EST_TW)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EST_CC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EST_AV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EST_PD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EST_OF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EST_WN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EST_REG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SGI_SW)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SGI_RES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.F_UL_MAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEVU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ASIGN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OBRA)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
