@model AuraInventarioProto.Models.INV_PC

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inhabilitar</h2>

<h3>¿Esta Seguro de que desear Dar de Baja a este registro?</h3>
<div class="well bs-component animated fadeInLeftBig">
    <h4>Inventario de Pc</h4>
    <hr />
    <dl class="dl-horizontal ">
        <dt>
            @Html.DisplayNameFor(model => model.SERIAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SERIAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MODELO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODELO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MARCA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MARCA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_ADQ)
        </dt>

        <dd>
            @Html.ValueFor(model => model.FECHA_ADQ, "{0:dd-MM-yyyy}")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EST_TW)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EST_TW)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EST_CC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EST_CC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EST_AV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EST_AV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EST_PD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EST_PD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EST_OF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EST_OF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EST_WN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EST_WN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EST_REG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EST_REG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SGI_SW)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SGI_SW)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SGI_RES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SGI_RES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F_UL_MAN)
        </dt>

        <dd>
            @Html.ValueFor(model => model.F_UL_MAN, "{0:dd-MM-yyyy}")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEVU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEVU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ASIGN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ASIGN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OBRA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OBRA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OBS)
        </dt>

        <dd>
            @Html.Raw(Html.Encode(Html.DisplayFor(model => model.OBS)).Replace("\n", "<br />"))
        </dd>

    </dl>
    <hr />
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <div class="form-group">
        @*@Html.LabelFor(model => model.OBS, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <label for="OBSMov" class="control-label col-md-2">Observaciones:</label>
        <div class="col-md-10">
            @*@Html.TextAreaFor(model => model.OBS, 5, 100, new { htmlAttributes = new { @class = "form-control" } })*@
            <textarea  id="OBSMov" name="OBSMov" rows="5" cols="100" maxlength="255"></textarea>
            <span class="help-block">Observaciones de Baja.</span>            
        </div>
    </div>

    <div class="form-actions no-color">
        <input type="submit" value="Dar de Baja" class="btn btn-danger" /> |
        @Html.ActionLink("Volver al Listado", "Index")
    </div>
}
</div>
