@model AuraInventarioProto.Models.INV_PC

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>
<div class="well bs-component animated fadeInLeftBig" id="det">
    <h4 id="title">Inventario de Pc</h4>
    @*<hr />*@
    <dl class="dl-horizontal">
        <dt>
            Serial:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SERIAL)
        </dd>

        <dt>
            Modelo:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODELO)
        </dd>

        <dt>
            Marca:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MARCA)
        </dd>

        <dt>
            Tipo:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO)
        </dd>

        <dt>
            Estado:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADO)
        </dd>

        <dt>
            Fecha Adquisición:
        </dt>

        <dd>
            @Html.ValueFor(model => model.FECHA_ADQ, "{0:dd-MM-yyyy}")
        </dd>

        <dt>
            Estado TeamViewer:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EST_TW)
        </dd>

        <dt>
            Estado Ccleaner:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EST_CC)
        </dd>

        <dt>
            Estado Anti Virus:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EST_AV)
        </dd>

        <dt>
            Estado PDF:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EST_PD)
        </dd>

        <dt>
            Estado Registros:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EST_REG)
        </dd>

        <dt>
            Licencia Office:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EST_OF)
        </dd>

        <dt>
            Licencia Windows:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EST_WN)
        </dd>

        <dt>
            SGI P-30 Software:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SGI_SW)
        </dd>

        <dt>
            SGI P-30 Restricciones:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SGI_RES)
        </dd>

        <dt>
            Fecha Ultima Mantención:
        </dt>

        <dd>
            @Html.ValueFor(model => model.F_UL_MAN, "{0:dd-MM-yyyy}")
        </dd>

        <dt>
            Devuelto:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEVU)
        </dd>

        <dt>
            Asignado:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ASIGN)
        </dd>

        <dt>
            Obra:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OBRA)
        </dd>

        <dt>
            Observaciones:
        </dt>

        <dd>

            @*@Html.Raw(Html.Encode(model.OBS).Replace("\n", "<br />"))*@
            @Html.Raw(Html.Encode(Html.DisplayFor(model => model.OBS)).Replace("\n", "<br />"))
        </dd>

    </dl>
</div>
<hr />
@*<button class="btn btn-primary" id="Report" onclick="generatePDF()">Crear Reporte</button>*@
@Html.ActionLink("Reporte", "PDFpage", new { id = Model.ID }, new { @class = "btn btn-primary" }) 
<hr />
<p>
    @if (Session["UserRole"].ToString() != "ReadOnly") {
        @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) <text>|</text>
    }
    @Html.ActionLink("Volver al Listado", "Index")
</p>

@section scripts{
    @*<script src="~/js/datatables/pdfmake.min.js"></script>
    <script src="~/js/datatables/vfs_fonts.js"></script>
<script src="http://kendo.cdn.telerik.com/2016.3.914/js/kendo.all.min.js"></script>

    <script>
        var generatePDF = function () {
            kendo.drawing.drawDOM($("#det")).then(function (group) {
                kendo.drawing.pdf.saveAs(group, "Detalle de @Model.SERIAL.ToString() .pdf");
            });
        }
    </script>

    <script>
        var generatePDF = function () {
            $('#det').removeClass('well');
            $('#title').css('text-align', 'center');
            $('#cont').css("width", "400px");
            kendo.drawing.drawDOM($("#det")).then(function (group) {

                return kendo.drawing.exportPDF(group, {
                    paperSize: "Letter",
                    margin: { left: "10cm", top: "1cm", right: "1cm", bottom: "1cm" },
                    title: "Detalle de Inventario de @Model.SERIAL.ToString()",
                    date: "@DateTime.Today"

                });

            }).done(function (data) {
                kendo.saveAs({
                    dataURI: data,
                    fileName: "Detalle de @Model.SERIAL.ToString() .pdf"
                });
                });
            $('#cont').css("width", "1170px");
            $('#title').css('text-align', 'inherit');
            $('#det').addClass('well');
        }
    </script>*@
    @*<script>

        $('#Report').on('click', function () {
            htmlToPdfMake('#det');
        });

        function htmlToPdfMake(elementID) {
            var fullText = "";
            //var x = document.getElementById('htmlContent').elements;
            //var x = $("a").parent(elementID)
            var x = $(elementID).children();
            $.each(x, function (index, value) {
                console.log(value);
                fullText += $(this).context.innerHTML + ",";
                console.log($(this).context.innerHTML);
            });

            var dd = {
                content: [
                    fullText
                ]
            };
            pdfMake.createPdf(dd).download('optionalName.pdf');
            console.log(dd.content);

            //console.log(x);

            //var html = $(elementID).html();

            //$("#result").text(html);

            //var p = $(elementID).html();

            //$("#resultPDF").text(p);
        }
    </script>*@
}