@model AuraInventarioProto.ViewModels.ValidationViewModels.Inv_PcValidationViewModel

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal well bs-component animated fadeInLeftBig">
        <h4>Inventario De Pc</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.SERIAL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input class="form-control" maxlength="30" style="text-transform:uppercase" value="@Model.SERIAL" name="SERIAL" id="SERIAL" />
                @*@Html.EditorFor(model => model.SERIAL, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.SERIAL, "", new { @class = "text-danger" })
            </div>
        </div>
        

        <div class="form-group">
            @Html.LabelFor(model => model.MODELO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MODELO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MODELO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MARCA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MARCA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MARCA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TIPO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TIPO, new SelectList(
                       new List<Object>{
                               new { value = "AIO" , text = "All in One"  },
                               new { value = "Notebook" , text = "Notebook" },
                            },
                          "value",
                          "text",
                          2
                ), new { htmlAttributes = new { @class = "form-control" } })

                @*@Html.EditorFor(model => model.TIPO, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.TIPO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ESTADO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ESTADO, new SelectList(
                       new List<Object>{
                               new { value = "Operativo" , text = "Operativo"  },
                               new { value = "De Baja" , text = "De Baja" },
                               new { value = "Malo" , text = "Malo" },
                            },
                          "value",
                          "text",
                          2
                ), new { htmlAttributes = new { @class = "form-control" } })

                @*@Html.EditorFor(model => model.ESTADO, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.ESTADO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FECHA_ADQ, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FECHA_ADQ, new { htmlAttributes = new { @class = "form-control", @id = "date", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.FECHA_ADQ, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EST_TW, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @*@Html.EditorFor(model => model.EST_TW, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.CheckBoxFor(model => model.EST_TW, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EST_TW, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EST_CC, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.EST_CC, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EST_CC, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EST_AV, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.EST_AV, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EST_AV, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EST_PD, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.EST_PD, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EST_PD, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EST_OF, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.EST_OF, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EST_OF, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EST_WN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.EST_WN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EST_WN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EST_REG, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.EST_REG, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EST_REG, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SGI_SW, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.SGI_SW, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SGI_SW, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SGI_RES, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.SGI_RES, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SGI_RES, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.F_UL_MAN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.F_UL_MAN, new { htmlAttributes = new { @class = "form-control", @id = "date2", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.F_UL_MAN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OBRA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.OBRA, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(model => model.OBRA, new SelectList(
                          ViewBag.Obra,
                          "value",
                          "text",
                          2
                ), new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OBRA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OBS, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.OBS, 5, 100, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OBS, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver al Listado", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
        $(document).ready(function () {
            $('#OBRA').chosen({
                no_results_text: "No hay resultados para ",
                max_shown_results: 7,
                placeholder_text_single: "Seleccione",
                width: "31%"

            });
            $('#ESTADO').chosen({
                disable_search: "true",
                placeholder_text_single: "Seleccione",
                width: "31%"
            });
            $('#TIPO').chosen({
                disable_search: "true",
                placeholder_text_single: "Seleccione",
                width: "31%"
            });

            $('#date').datepicker({
                format: "dd-MM-yyyy",
                todayBtn: true,
                clearBtn: true,
                language: "es",
                todayHighlight: true
            });
            $('#date2').datepicker({
                format: "dd-MM-yyyy",
                todayBtn: true,
                clearBtn: true,
                language: "es",
                todayHighlight: true
            });
        });
</script>
}
