@model IEnumerable<AuraInventarioProto.Models.INV_PC>

@{
    ViewBag.Title = "Inventario de Pc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inventario de Pc</h2>

<p>
    @if (Session["UserRole"].ToString() != "ReadOnly") {
        @Html.ActionLink("Crear Nuevo", "Create")
    }
    
</p>
@if (!Model.Any()) {
    <text>No hay Inventario.</text>
} else {
    <table class="table table-striped table-bordered table-hover table-responsive display compact" id="Inventario_PC">
        <thead>
            <tr>
                <th>
                    Serial
                </th>
                <th>
                    Modelo
                </th>
                <th>
                    Marca
                </th>
                <th>
                    Tipo
                </th>
                <th>
                    Estado
                </th>
                <th>
                    Fecha ADQ
                </th>
                <th>
                    SGI Sw
                </th>
                <th>
                    SGI Res
                </th>
                <th>
                    Ultima mant.
                </th>
                <th>
                    Devuelto
                </th>
                <th>
                    Asignado dev.
                </th>
                <th>
                    Obra
                </th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SERIAL)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MODELO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MARCA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TIPO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ESTADO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FECHA_ADQ)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SGI_SW)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SGI_RES)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.F_UL_MAN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DEVU)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ASIGN_DEVU)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OBRA)
                    </td>
                    <td>
                        @{
                            if (Session["UserRole"].ToString() != "ReadOnly") {
                                @Html.ActionLink("Editar", "Edit", new { id = item.ID }) <text>|</text>
                                @Html.ActionLink("Detalles", "Details", new { id = item.ID }) <text>|</text>
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
                            } else {
                                @Html.ActionLink("Detalles", "Details", new { id = item.ID }) <text>|</text>

                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @section scripts{
        <script>
            $(document).ready(function () {
                $('#Inventario_PC').DataTable({
                    "language": {
                        "url": "https://cdn.datatables.net/plug-ins/1.10.13/i18n/Spanish.json"
                    },
                });
            });
        </script>
    }
}
