@{
    string CurrentURL = Request.Url.AbsoluteUri;
    HttpContext.Current.Response.AddHeader("Cache-Control", "no-cache, no-store, must-revalidate");
    HttpContext.Current.Response.AddHeader("Pragma", "no-cache");
    HttpContext.Current.Response.AddHeader("Expires", "0");
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Aura Inventario</title>
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @*@Scripts.Render("~/bundles/inputmask")*@
    @if (CurrentURL.Contains("Create")){
        @Scripts.Render("~/bundles/bootstrap-datepicker");
    }
    <meta name="description" content="Aura Inventario" />
</head>

<body>
    @if (Session["UserID"] == null) {
            @Html.Partial("_Login");
    }

    @Html.Partial("_NavBar")

    <div id="cont" class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Aura Ingenieria.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
