@{
    string CurrentURL = Request.Url.AbsoluteUri;
    //if (Session["UserID"]==null) {
    //    new RedirectToRouteResult(new RouteValueDictionary { { "action", "Index" }, { "controller", "Home" } });
    //}
    HttpContext.Current.Response.AddHeader("Cache-Control", "no-cache, no-store, must-revalidate");
    HttpContext.Current.Response.AddHeader("Pragma", "no-cache");
    HttpContext.Current.Response.AddHeader("Expires", "0");

    if (CurrentURL.Contains("Create") || CurrentURL.Contains("Edit") || CurrentURL.Contains("Delete") && Session["UserRole"].ToString() == "ReadOnly") {        
        new RedirectToRouteResult(new RouteValueDictionary { { "action", "Index" }, { "controller", "Home" } });        
    } else if (CurrentURL.Contains("LOGIN") && Session["UserRole"].ToString() != "Admin") {
        new RedirectToRouteResult(new RouteValueDictionary { { "action", "Index" }, { "controller", "Home" } });
    }
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Aura Inventario</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/bundles/bootstrap-datepicker")



    @if (CurrentURL.Contains("INV_PC")) {

    }

    @*<link href="/js/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="/js/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/js/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/js/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/js/datatables/scroller.bootstrap.min.css" rel="stylesheet" type="text/css" />    

    <script src="/js/datatables/jquery.dataTables.min.js"></script>
    <script src="/js/datatables/dataTables.bootstrap.js"></script>
    <script src="/js/datatables/dataTables.buttons.min.js"></script>
    <script src="/js/datatables/buttons.bootstrap.min.js"></script>
    <script src="/js/datatables/jszip.min.js"></script>
    <script src="/js/datatables/pdfmake.min.js"></script>
    <script src="/js/datatables/vfs_fonts.js"></script>
    <script src="/js/datatables/buttons.html5.min.js"></script>
    <script src="/js/datatables/buttons.print.min.js"></script>*@

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.13/b-1.2.4/b-html5-1.2.4/b-print-1.2.4/r-2.1.1/sc-1.4.2/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.13/b-1.2.4/b-html5-1.2.4/b-print-1.2.4/r-2.1.1/sc-1.4.2/datatables.min.js"></script>

    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.bootstrap.min.css" />    
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.bootstrap.min.js"></script>

    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js"></script>*@
    
    

    <meta name="description" content="The description of my page" />
</head>
<body>
    @{
        //try {
        if (Session["UserID"] == null) {
            @Html.Partial("_Login")
        }
        //} catch (Exception) {
        //    new RedirectToRouteResult(new RouteValueDictionary { { "action", "Index" }, { "controller", "Home" } });
        //}

    }

    @Html.Partial("_NavBar")
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Aura Ingenieria.</p>
        </footer>
    </div>


    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
