@model AuraInventarioProto.Models.MOVIMIENTOS_PC

@{
    ViewBag.Title = "Crear Nuevo";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //AuraInventarioProto.Models.AuraInventarioProtoDBEntities db = new AuraInventarioProto.Models.AuraInventarioProtoDBEntities();
    //List<Object> usuarios = new List<Object>() { };
    //foreach (var usuario in db.USUARIOS) {
    //    usuarios.Add(new SelectListItem {Text= usuario.NOMBRE_C,Value=usuario.RUT });
    //}



    }

<h2>Crear Nuevo</h2>

<form>
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Ingreso Masivo de Movimientos</h4>
                </div>
                <div class="modal-body">
                    <p>Todo.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Guardar Cambios</button>
                </div>
            </div>
        </div>
    </div>
</form>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal well bs-component">
        <h4>Movimientos de Pc</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.TIPO_MOV, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TIPO_MOV, new SelectList(
                       new List<Object>{
                           //new { value = "Adquisicion" , text = "Adquisicion"  },
                               new { value = "Asignacion" , text = "Asignacion" },
                               new { value = "Devolucion" , text = "Devolucion" },
                               new { value = "De Baja" , text = "De Baja" },
                            },
                          "value",
                          "text",
                          2
                ), new { htmlAttributes = new { @class = "form-control" } })

                @*@Html.EditorFor(model => model.TIPO_MOV, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.TIPO_MOV, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RUT_USUARIO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.RUT_USUARIO, new SelectList(ViewBag.Rut, "value", "text",2) , new { htmlAttributes = new { @class = "form -control" } })
                @Html.ValidationMessageFor(model => model.RUT_USUARIO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ID_PC, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.ID_PC, new { htmlAttributes = new { @class = "form-control", @id = "Pc" } })*@
                @Html.DropDownListFor(model => model.ID_PC, new SelectList(ViewBag.Pc, "value", "text",2) , new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ID_PC, "", new { @class = "text-danger" })
            </div>
        </div>


        @*<div class="form-group">
            @Html.LabelFor(model => model.FECHA_AS, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FECHA_AS, new { htmlAttributes = new { @class = "form-control", @id = "date", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.FECHA_AS, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FECHA_DV, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FECHA_DV, new { htmlAttributes = new { @class = "form-control", @id = "date2", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.FECHA_DV, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.FECHA_MOV, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FECHA_MOV, new { htmlAttributes = new { @class = "form-control", @id = "date3", @readonly = "readonly", @value = DateTime.Today.ToShortDateString() } })
                @Html.ValidationMessageFor(model => model.FECHA_MOV, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver al Listado", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script>
        $('#TIPO_MOV').change(function () {
            var selectedValue = $('#TIPO_MOV').val();
            if (selectedValue == "Asignacion") {

                $.post('@Url.Action("Test", "MOVIMIENTOS_PC")', { selection : selectedValue }, function (data) {});
            } else if (selectedValue == "Devolucion") {
                $.post('@Url.Action("Test", "MOVIMIENTOS_PC")', { selection : selectedValue }, function (data) {});
            } else if (selectedValue == "De Baja") {
                $.post('@Url.Action("Test", "MOVIMIENTOS_PC")', { selection : selectedValue }, function (data) {});
            }


        });
    </script>*@

    <script>
        $('#TIPO_MOV').change(function () {
            var selectedValue = $('#TIPO_MOV').val();


        });
    </script>

    <script>
        $(document).ready(function () {            
            $('#RUT_USUARIO').chosen({       
                no_results_text: "No hay resultados para ",
                max_shown_results: 7,
                placeholder_text_single: "Seleccione",
                //width: 120
            });

            $('#ID_PC').chosen({
                no_results_text: "No hay resultados para ",
                max_shown_results: 7,
                placeholder_text_single: "Seleccione",
                //width: 120
            });

            $('#TIPO_MOV').chosen({
                disable_search: "true",
                placeholder_text_single: "Seleccione",
                //width: 120
            });
            //$('#Pc').chosen();



            $('#date').datepicker({
                format: "dd-mm-yy",
                todayBtn: true,
                clearBtn: true,
                language: "es",
                todayHighlight: true
            });
            $('#date2').datepicker({
                format: "dd-mm-yy",
                todayBtn: true,
                clearBtn: true,
                language: "es",
                todayHighlight: true
            });
            $('#date3').datepicker({
                format: "dd-mm-yy",
                todayBtn: true,
                clearBtn: true,
                language: "es",
                todayHighlight: true
            });
        });
    </script>
}
