@model AuraInventarioProto.ViewModels.ValidationViewModels.Movimientos_PcValidationViewModel

@{
    ViewBag.Title = "Crear Nuevo";
    ViewBag.Fecha = DateTime.Today.ToLongDateString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear Nuevo</h2>

<form>
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Ingreso Masivo de Movimientos</h4>
                </div>
                <div class="modal-body">
                    <p>Todo.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Guardar Cambios</button>
                </div>
            </div>
        </div>
    </div>
</form>


@*@using (Html.BeginForm()) {*@
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <input hidden="hidden" value="@Model.FECHA_MOV" name="fechamov" id="fechamov"/>
    <div class="form-horizontal well bs-component animated fadeInLeftBig">
        <h4>Movimientos de Pc</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.TIPO_MOV, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TIPO_MOV, new SelectList(
                new List<Object>{
                               new { value = "Asignacion" , text = "Asignación" },
                               new { value = "Devolucion" , text = "Devolución" },
                               new { value = "De Baja" , text = "De Baja" },
                     }, "value", "text", 2), new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TIPO_MOV, "", new { @class = "text-danger" })
            </div>
        </div>

        @* Partial Start *@
        <div id="update">
            @Html.Partial("_Create_Mov")
        </div>
        @* Partial End *@

        <div class="form-group">
            @Html.LabelFor(model => model.FECHA_MOV, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FECHA_MOV, new { htmlAttributes = new { @class = "form-control", @id = "date3", @readonly = "readonly", @value = "" + ViewBag.Fecha } })
                @Html.ValidationMessageFor(model => model.FECHA_MOV, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OBS, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.OBS, 5, 100, new { htmlAttributes = new { @class = "form-control", @style = "margin: 0px; width: 308px; height: 109px; " } })
                @Html.ValidationMessageFor(model => model.OBS, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>
        </div>

    </div>
}

<div>
    @Html.ActionLink("Volver al Listado", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
             var selectedValue = $('#TIPO_MOV').val();
            $.ajax({
                url: '@Url.Action("Create_logic", "MOVIMIENTOS_PC")',
                data: { selection: selectedValue },
                cache: false,
                type: "POST"
            }).done(function (partialViewResult) {
                $("#update").html(partialViewResult);
                if (selectedValue == "Devolucion") {
                    $('#rut_').hide();
                    $('#ID_PC').chosen({
                        no_results_text: "No hay resultados para ",
                        
                        placeholder_text_single: "Seleccione",                        
                        width: "31%"
                    });

                    $('#TIPO_MOV').chosen({
                        disable_search: "true",
                        placeholder_text_single: "Seleccione",
                        width: "31%"
                    });
                } else {
                    chose();
                }
            });
        });
    </script>
    <script>
        $('#TIPO_MOV').change(function () {
            var selectedValue = $('#TIPO_MOV').val();
            $.ajax({
                url: '@Url.Action("Create_logic", "MOVIMIENTOS_PC")',
                data: { selection: selectedValue },
                cache: false,
                type: "POST"
            }).done(function (partialViewResult) {
                $("#update").html(partialViewResult);
                if (selectedValue == "Devolucion") {
                    $('#rut_').hide();
                    $('#ID_PC').chosen({
                        no_results_text: "No hay resultados para ",
                        
                        placeholder_text_single: "Seleccione",
                        width: "31%"
                    });

                    $('#TIPO_MOV').chosen({
                        disable_search: "true",
                        placeholder_text_single: "Seleccione",
                        width: "31%"
                    });
                } else {
                    chose();
                }                
            });
        });
    </script>

    <script>
        function chose() {
            $('#RUT_USUARIO').chosen({
                no_results_text: "No hay resultados para ",
                
                placeholder_text_single: "Seleccione",
                width: "31%"
            });
           
            $('#ID_PC').chosen({
                no_results_text: "No hay resultados para ",
                
                placeholder_text_single: "Seleccione",
                width: "31%"
            });

            $('#TIPO_MOV').chosen({
                disable_search: "true",
                placeholder_text_single: "Seleccione",
                width: "31%"
            });
        }
    </script>

    <script>
        $(document).ready(function () {
            chose();
            $('#date3').datepicker({
                format: "dd-mm-yyyy",
                todayBtn: true,
                clearBtn: true,
                language: "es",
                todayHighlight: true
            });
        });
    </script>
}
