@model AuraInventarioProto.Models.MOVIMIENTOS_PC

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div class="well bs-component animated fadeInLeftBig">
    <h4>Movimientos de Pc</h4>
    <hr />
    <dl class="dl-horizontal  ">
        <dt>
            Rut:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RUT_USUARIO)
        </dd>

        <dt>
            Id Pc:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_PC)
        </dd>

        <dt>
            Tipo Movimiento:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_MOV)
        </dd>

        <dt>
            Fecha Movimiento:
        </dt>

        <dd>
            @Html.ValueFor(model => model.FECHA_MOV, "{0:dd-MM-yyyy}")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OBS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OBS)
        </dd>

    </dl>
</div>
<hr />
@if (Model.TIPO_MOV == "Asignacion") {
    @Html.ActionLink("Reporte de Asignación", "PDFpageAsign", new { idmov = Model.ID, serial = Model.ID_PC, rut = Model.RUT_USUARIO, fechamov = Model.FECHA_MOV.ToShortDateString() }, new { @class = "btn btn-primary" })
} else if (Model.TIPO_MOV == "Devolucion") {
    @Html.ActionLink("Reporte de Devolución", "PDFpageDevu", new { idmov = Model.ID, serial = Model.ID_PC, fechamov = Model.FECHA_MOV.ToShortDateString(), rutusu = Model.RUT_USUARIO }, new { @class = "btn btn-primary" })
} else if (Model.TIPO_MOV == "De Baja") {
    @Html.ActionLink("Reporte de Baja", "PDFpageBaja", new { idmov = Model.ID, serial = Model.ID_PC, fechamov = Model.FECHA_MOV.ToShortDateString() }, new { @class = "btn btn-primary" })
    //Html.ActionLink("Reporte de Adquisición", "PDFpage","INV_PC", new { id = Model.ID_PC }, new { @class = "btn btn-primary" })
}
<hr />
<p>
    @if (Session["UserRole"].ToString() != "ReadOnly") {
        @Html.ActionLink("Editar", "Edit", new { id = Model.ID })        <text>|</text>
}
    @Html.ActionLink("Volver al Listado", "Index")
</p>
