@model IEnumerable<AuraInventarioProto.Models.MOVIMIENTOS_PC>

@{
    ViewBag.Title = "Movimientos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Movimientos PC</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
@if (!Model.Any()) {
    <text>No hay Movimientos.</text>
} else {
    <table class="table table-striped table-bordered table-hover table-responsive display compact" id="Movimientos">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RUT_USUARIO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ID_PC)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TIPO_MOV)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FECHA_AS)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FECHA_DV)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FECHA_MOV)
                </th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.RUT_USUARIO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID_PC)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TIPO_MOV)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FECHA_AS)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FECHA_DV)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FECHA_MOV)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @section scripts{
        <script>
            $(document).ready(function () {
                $('#Movimientos').DataTable({
                    "language": {
                        "url": "https://cdn.datatables.net/plug-ins/1.10.13/i18n/Spanish.json"
                    },
                });
            });
        </script>
    }

}
