@model AuraInventarioProto.Models.LOGIN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LOGIN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PASS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PASS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SALT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SALT)
        </dd>

    </dl>
</div>
<p>
    @if (Session["UserRole"].ToString() != "ReadOnly") {
        @Html.ActionLink("Editar", "Edit", new { id = Model.ID })
    }|
    @Html.ActionLink("Volver al Listado", "Index")
    @Html.ActionLink("Back to List", "Index")
</p>
