@model IEnumerable<AuraInventarioProto.Models.LOGIN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @if (Session["UserRole"].ToString() != "ReadOnly") {
        @Html.ActionLink("Crear Nuevo", "Create")
    }
    
</p>
@if (!Model.Any()) {
    <text>No hay Usuarios.</text>
} else {

<table class="table table-striped table-bordered table-hover table-responsive display compact" id="Logins">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NOMBRE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PASS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SALT)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NOMBRE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PASS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SALT)
                </td>
                <td style="text-align:center">
                    @{
                        if (Session["UserRole"].ToString() != "ReadOnly") {
                            @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "glyphicon glyphicon-edit", @data_toggle = "tooltip", @data_placement = "left", @data_original_title = "Editar" }) <text>|</text>
                            @Html.ActionLink(" ", "Details", new { id = item.ID }, new { @class = "glyphicon glyphicon-info-sign", @data_toggle = "tooltip", @data_placement = "left", @data_original_title = "Detalles" }) <text>|</text>
                            @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "glyphicon glyphicon-remove", @data_toggle = "tooltip", @data_placement = "left", @data_original_title = "Eliminar" })
                        } else {
                            @Html.ActionLink(" ", "Details", new { id = item.ID }, new { @class = "glyphicon glyphicon-info-sign", @data_toggle = "tooltip", @data_placement = "left", @data_original_title = "Detalles" })

                        }
                    }
                </td>
            </tr>

        }
    </tbody>
</table>
}
@section scripts{
<script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
</script>
    <script>
        $(document).ready(function () {
            $('#Logins').DataTable({
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.13/i18n/Spanish.json"
                },
            });
        });
    </script>
}