@model AuraInventarioProto.Models.UNE

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Recuperar</h2>

<h3>¿Esta Seguro de que desear Recuperar a este registro?</h3>
<div class="well bs-component animated fadeInLeftBig">
    <h4>UNE</h4>
    <hr />
    <dl class="dl-horizontal ">
        <dt>
            @Html.DisplayNameFor(model => model.OBRA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OBRA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Recuperar" class="btn btn-success" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
