@model AuraInventarioProto.Models.USUARIOS

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div class="well bs-component animated fadeInLeftBig">
    <h4>Usuarios</h4>
    <hr />
    <dl class="dl-horizontal ">
        <dt>
            Rut:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RUT)
        </dd>

        <dt>
            Nombre Completo:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_C)
        </dd>

        <dt>
            Correo:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CORREO)
        </dd>

        <dt>
            Une:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UNE)
        </dd>

    </dl>
</div>
<p>
    @if (Session["UserRole"].ToString() != "ReadOnly") {
        @Html.ActionLink("Editar", "Edit", new { id = Model.ID })        <text>|</text>
    }        
    @Html.ActionLink("Volver al Listado", "Index")
</p>
