@model AuraInventarioProto.ViewModels.ValidationViewModels.UsuariosValidationViewModel

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar</h2>

@using (Html.BeginForm(new { id = "Edit" })) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal well bs-component animated fadeInLeftBig">
        <h4>Usuarios</h4>
        <hr />
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.ESTADO)

        <div class="form-group">
            @Html.LabelFor(model => model.RUT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input  class="form-control" pattern="[0-9]{2}[0-9]{3}[0-9]{3}-[k-k0-9]{1}" title = "Rut con dv y sin puntos." maxlength = "12" style="text-transform:uppercase" value="@Model.RUT" name="RUT" id="RUT"/>
                @*@Html.EditorFor(model => model.RUT, new { htmlAttributes = new { @class = "form-control", @pattern = "[0-9]{2}[0-9]{3}[0-9]{3}-[k-k0-9]{1}", @title = "Rut con dv y puntos.", @style = "text-transform:uppercase", @maxlength = "12", @id = "Edit" } })*@
                @Html.ValidationMessageFor(model => model.RUT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NOMBRE_C, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NOMBRE_C, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:uppercase", @maxlength = "40" } })
                @Html.ValidationMessageFor(model => model.NOMBRE_C, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CORREO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input class="form-control" maxlength="30" style="text-transform:lowercase" value="@Model.CORREO" name="CORREO" id="CORREO" />
                @*@Html.EditorFor(model => model.CORREO, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:lowercase", @maxlength = "30", @id = "Edit" } })*@
                @Html.ValidationMessageFor(model => model.CORREO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UNE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.UNE, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:uppercase", @maxlength = "10" } })*@
                @Html.DropDownListFor(model => model.UNE, new SelectList(
                          ViewBag.Obra,
                          "value",
                          "text",
                          2
                ), new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UNE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver al Listado", "Index")
</div>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('#UNE').chosen({
                no_results_text: "No hay resultados para ",
                max_shown_results: 7,
                placeholder_text_single: "Seleccione",
                width: "31%"
            });
        });
    </script>

}
