@model IEnumerable<AuraInventarioProto.Models.USUARIOS>

@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Usuarios</h2>

<p>
    @if (Session["UserRole"].ToString() != "ReadOnly") {
        @Html.ActionLink("Crear Nuevo", "Create")
    }
    
</p>
@if (!Model.Any()) {
    <text>No hay Usuarios.</text>
} else {
    <table class="table table-striped table-bordered table-hover table-responsive display compact" id="Usuarios">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RUT)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NOMBRE_C)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CORREO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UNE)
                </th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RUT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NOMBRE_C)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CORREO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UNE)
                    </td>
                    <td>
                        @{
                            if (Session["UserRole"].ToString() != "ReadOnly") {
                                @Html.ActionLink("Editar", "Edit", new { id = item.ID }) <text>|</text>
                                @Html.ActionLink("Detalles", "Details", new { id = item.ID }) <text>|</text>
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
                            } else {
                                @Html.ActionLink("Detalles", "Details", new { id = item.ID }) <text>|</text>

                            }
                        }

                    </td>
                </tr>
                            }
        </tbody>
    </table>
    @section scripts{
        <script>
            $(document).ready(function () {
                $('#Usuarios').DataTable({
                    "language": {
                        "url": "https://cdn.datatables.net/plug-ins/1.10.13/i18n/Spanish.json"
                    },
                });
            });
        </script>
    }

                            }
